@import "bootstrap/dist/css/bootstrap.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.flag {
  height: 200px;
}

.row {
}

.container {
}

.dropdown-filter {
  max-width: 200px;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 300px;
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1439px) {
  .card {
    margin: auto;
  }
}
