@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  background-color: hsl(0, 0%, 98%);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-bottom: 1px;
}

.header h1 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: bold;
}

.flag {
  height: 200px;
}

.row {
}

.container {
}

.dropdown-filter {
  max-width: 200px;
}

.searchbar {
  padding: 10px;
}

.card {
  background-color: white;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 300px;
  padding: 0;
}

.filters,
.Dropdown-control {
  border-radius: 7px !important;
  background-color: white;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/* Desktop */
@media screen and (min-width: 1440px) {
  .card {
    margin-right: 20px;
    margin-top: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 1439px) {
  .card {
    margin: 0 auto;
  }

  .filters {
    margin: 10px 0;
  }

  .searchbar {
    width: 100%;
  }
}
